---
import style from "./header.module.css";
---

<div class={style.container}>
  <div class={style.chicaneHeader}>Welcome to the Chicane Community!</div>
  <div class={style.chicaneHeaderImage}></div>
  <div class={style.chicaneTextButtonStyle}>
    <div class={style.chicanceTextSubline}>
      Go from design to site with Framer, the web builder for creative pros.
    </div>
    <div class={style.chicaneButtonContainer}>
      <div class={style.chicaneButtonText}>Get Started</div>
    </div>
  </div>
</div>
