---
import style from "./hero.module.css";
import { Picture } from "@astrojs/image/components";
const imgUrl = "src/assets/images/chicane-header.png";
---

<div class={style.container}>
  <div class={style.chicaneHeader}><span style="background-color: red;">Welcome</span> to the Chicane Community!  </div>
    
    <!-- <picture class={style.chicaneHeaderImage}>
    <source media="(max-width: 390px)" srcset="src/assets/images/water-park.png" />
    <source media="(max-width: 810px)" srcset="src/assets/images/hero1.avif" />
    <source media="(max-width: 1200px)" srcset="/src/assets/images/Andromeda_Galaxy_560mm.webp" /> -->

    <img alt="Hero New Image" src='src/assets/images/Andromeda_Galaxy_560mm.jpg' >

  <div class={style.chicaneTextButtonStyle}>
    <div class={style.chicanceTextSubline}>
      Go from design to site with Framer, the web builder for creative pros.
    </div>
    <div class={style.chicaneButtonContainer}>
      <div class={style.chicaneButtonText}>Get Started</div>
    </div>
  </div>
</div>
